name: Deploy To ECS

on:
    push:
        branches:
            - rag-pipe

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read

        steps:
          - name: Checkout
            uses: actions/checkout@v4

          - name: Configure AWS Credentials
            uses: aws-actions/configure-aws-credentials@v4
            with:
              role-to-assume: arn:aws:iam::989513605501:role/GitHub
              aws-region: ${{secrets.AWS_REGION}}

          - name: Login to AMAZON ECR
            id: login-ecr
            uses: aws-actions/amazon-ecr-login@v2

          - name: Build, tag, and push image to Amazon ECR
            id: build-image
            env:
                ECR_REGISTRY: ${{steps.login-ecr.outputs.registry}}
                ECR_REPOSITORY: ${{secrets.ECR_REPOSITORY}}
                IMAGE_TAG: ${{github.sha}}
            run: |
                echo "Registry is: $ECR_REGISTRY"
                docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
                docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
                echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

          - name: Update ECS Service
            run:  |
                aws ecs update-service \
                  --cluster ${{secrets.ECS_CLUSTER}} \
                  --service ${{secrets.ECS_SERVICE}} \
                  --force-new-deployment 

          - name: Download task definition
            run: |
                    aws ecs describe-task-definition \
                    --task-definition ${{ secrets.ECS_TASK_DEFINITION_FAMILY }} \
                    --query taskDefinition > task-definition.json

          - name: Render new task definition
            id: render-task-def
            uses: aws-actions/amazon-ecs-render-task-definition@v1
            with:
                    task-definition: task-definition.json
                    container-name: rag-container
                    image: ${{ steps.build-image.outputs.image }}

          - name: Deploy to ECS
            uses: aws-actions/amazon-ecs-deploy-task-definition@v2
            with:
                task-definition: ${{ steps.render-task-def.outputs.task-definition }}
                service: ${{ secrets.ECS_SERVICE }}
                cluster: ${{ secrets.ECS_CLUSTER }}
                wait-for-service-stability: true
