name: Deploy To ECS

on:
    push:
        branches:
            - rag-pipe

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read

        steps:
          - name: Checkout
            uses: actions/checkout@v4

          - name: Configure AWS Credentials
            uses: aws-actions/configure-aws-credentials@v4
            with:
              role-to-assume: arn:aws:iam::989513605501:role/GitHub
              aws-region: ${{secrets.AWS_REGION}}

          - name: Login to ECR
            id: login-ecr
            uses: aws-actions/configure-aws-credentials@v4

          - name: Build and Push
            id: build-image
            env:
                ECR_REGISTRY: ${{steps.login-ecr.outputs.registry}}
                ECR_REPOSITORY: ${{secrets.ECR_REPOSITORY}}
                IMAGE_TAG: ${{github.sha}}
            run:
                docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
                docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
                echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT
          - name: Update ECS Service
            run: 
                aws ecs update-service \
                  --cluster ${{secrets.ECS_CLUSTER}} \
                  --service ${{secrets.ECS_SERVICE}} \
                  --force-new-deployment 


